body {
  background-color: black;
  font-family: monospace, sans-serif;
  font-size: 16px;
  color: #aaa;
}

a {
  font-family: monospace, sans-serif;
  color: #aaa;
  text-decoration: none;
  font-weight: bold;
}

a:focus,
a:hover {
  background-color: #ccc;
  color: #21252b;
}

a:visited {
  text-decoration: underline;
}

.header {
}

.main {
  /* background-color: rgb(16, 0, 0); */
  background-color: #21252b);
}

iframe {
  background-color: #282c34;
}

.window-close:hover {
  background-color: #a00;
  color: black;
}
